*.DS_Store
# LaTeX intermediate and auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.brf
*.bcf
*.run.xml
*.xdv
*.pdfsync
*.nav
*.snm
*.vrb
*.ps
*.dvi
*.xdv
*.eps
*~
*.bak
*.tmp
*.swp
latexmk.rc
*.auxlock
*.out.lock
